@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

/* Свойства для корректного отображения картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primery-text-color);
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media (min-width: 320px), (max-width: 479px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.link {
  text-decoration: none;
  color: inherit;
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}
.link:hover, .link:focus {
  color: var(--hover-color);
  fill: var(--hover-color);
}

@media (min-width: 320px) {
  .section {
    padding: 60px 0px;
  }
}
@media (min-width: 1200px) {
  .section {
    padding: 94px 0px;
  }
}

:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --primery-title-color: #FFFFFF;
  --hover-color: #2196F3;
  --logo-color-p1: #2196F3;
  --maplink-text-color:#FFFFFF;
  --footer-contact-text-color: rgba(255, 255, 255, 0.6);
  --background-body-color: #ffffff;
  --background-header-color: #FFFFFF ;
  --background-hero-color: #2F303A;
  --background-team-color: #F5F4FA;
  --background-footer-color:#2F303A;
  --background-example-color: #E5E5E5;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

@media (max-width: 767px) {
  .clients {
    text-align: center;
  }
}
.clients__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
@media (max-width: 767px) {
  .clients__title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.19;
  }
}
@media (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}
.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 30px;
}
@media (max-width: 767px) {
  .clients__list {
    margin-left: -15px;
    margin-right: -15px;
  }
}
.clients__item {
  height: 92px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .clients__item {
    width: calc((100% - 60px) / 2);
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media (min-width: 768px) {
  .clients__item {
    width: calc((100% - 90px) / 3);
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 180px) / 6);
  }
}
.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  fill: #AFB1B8;
  -webkit-transition: fill var(--animation), border-color var(--animation);
  transition: fill var(--animation), border-color var(--animation);
}
.clients__link:hover, .clients__link:focus {
  fill: var(--logo-color-p1);
  border: 1px solid var(--logo-color-p1);
  border-radius: 4px;
}

.footer {
  background-color: var(--background-footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .footer__block {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (min-width: 1200px) {
  .footer__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media (max-width: 1199px) {
  .footer__container {
    margin-bottom: 60px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .footer__container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media (min-width: 1200px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media (max-width: 767px) {
  .footer__section {
    margin-bottom: 60px;
  }
}
@media (max-width: 1199px) {
  .footer__item:not(:last-child) {
    margin-bottom: 8px;
  }
}
@media (min-width: 1200px) {
  .footer__item:not(:last-child) {
    margin-bottom: 9px;
  }
}
.footer__address {
  font-style: normal;
}
@media (max-width: 1199px) {
  .footer__address {
    text-align: center;
  }
}
.footer__map {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--maplink-text-color);
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}
.footer__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}
@media (min-width: 1200px) {
  .footer__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 10px;
  }
}

@media (min-width: 1200px) {
  .footer-social__block {
    margin-left: 70px;
    margin-bottom: 0;
  }
}
.footer-social__subtitle {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.footer-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}
@media (max-width: 767px) {
  .footer-social__list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.footer-social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color var(--animation);
  transition: background-color var(--animation);
  border-radius: 50%;
}
.footer-social__link:hover, .footer-social__link:focus {
  background-color: var(--hover-color);
}
.footer-social__icon {
  fill: #FFFFFF;
}

@media (max-width: 767px) {
  .subscription__block {
    text-align: center;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .subscription__block {
    margin-left: auto;
  }
}
.subscription__lable {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media (min-width: 1200px) {
  .subscription__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 12px;
  }
}
.subscription__input {
  padding: 15px 16px;
  background-color: var(--background-footer-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
}
@media (max-width: 479px) {
  .subscription__input {
    min-width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }
}
@media (min-width: 480px) and (max-width: 1199px) {
  .subscription__input {
    width: 450px;
    margin-bottom: 20px;
  }
}
@media (min-width: 1200px) {
  .subscription__input {
    width: 358px;
    height: 50px;
  }
}
.subscription__input:focus {
  border: 1px solid var(--hover-color);
  border-radius: 4px;
  -webkit-transition: border var(--animation);
  transition: border var(--animation);
}
.subscription__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.subscription__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.subscription__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.subscription__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.subscription__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.subscription__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 10px 0px;
  width: 200px;
  height: 50px;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  outline: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  fill: #FFFFFF;
  cursor: pointer;
}
@media (max-width: 1199px) {
  .subscription__button {
    margin: 0 auto;
  }
}
.subscription__button:hover, .subscription__button:focus {
  background-color: #188CE8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition: background-color var(--animation);
  transition: background-color var(--animation);
}

@media (max-width: 767px) {
  .header-navigation {
    display: none;
  }
}
@media (min-width: 768px) {
  .header-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.header-navigation__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}
.header-navigation__link .link:active {
  color: var(--hover-color);
}
.header-navigation__item {
  display: inline-block;
}
.header-navigation__item:not(:last-child) {
  margin-right: 50px;
}
.header-navigation__link--activ {
  color: #2196F3;
}
.header-navigation__link--activ::before {
  content: "";
  position: absolute;
  bottom: -3%;
  left: 0;
  width: 100%;
  height: 4px;
  background: #2196F3;
  border-radius: 2px;
}

@media (max-width: 767px) {
  .header-contact {
    display: none;
  }
}
.header-contact__logo {
  fill: #757575;
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}
.header-contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primery-text-color);
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}
@media (min-width: 1200px) {
  .header-contact__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.header-contact__link:hover .header-contact__logo, .header-contact__link:focus .header-contact__logo {
  fill: var(--hover-color);
}
@media (min-width: 768px) {
  .header-contact__list {
    display: inline-block;
    margin-left: auto;
  }
}
@media (min-width: 768px) {
  .header-contact__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
@media (min-width: 1200px) {
  .header-contact__item {
    display: inline-block;
  }
  .header-contact__item:last-child {
    margin-left: 50px;
  }
}

.header {
  border-bottom: 1px solid #ECECEC;
  max-width: 1600px;
  margin: 0 auto;
}
.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767px) {
  .header-inner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.btn {
  display: block;
  background-color: #2196F3;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  min-height: 50px;
  border: 0px;
  margin: 0 auto;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: background-color var(--animation);
  transition: background-color var(--animation);
}
.btn:hover, .btn:focus {
  background-color: #188CE8;
}

.hero {
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/desktop/hero-bg.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop/hero-bg.jpg);
  background-color: #C4C4C4;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  width: 100%;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/desktop/hero-bg.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop/hero-bg.jpg);
  }
}
@media (max-width: 479px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/mobile/hero-bg-480@1.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/hero-bg-480@1.jpg);
  }
}
@media (max-width: 479px) and (min-device-pixel-ratio: 2), (max-width: 479px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 479px) and (min-resolution: 192dpi), (max-width: 479px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/mobile/hero-bg-480@2.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/hero-bg-480@2.jpg);
  }
}
@media (min-width: 480px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/tablet/hero-bg-768@1.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/hero-bg-768@1.jpg);
  }
}
@media (min-width: 480px) and (min-device-pixel-ratio: 2), (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 480px) and (min-resolution: 192dpi), (min-width: 480px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/tablet/hero-bg-768@2.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/hero-bg-768@2.jpg);
  }
}
@media (min-width: 768px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/desktop/hero-bg-1200@1.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop/hero-bg-1200@1.jpg);
  }
}
@media (min-width: 768px) and (min-device-pixel-ratio: 2), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 192dpi), (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/desktop/hero-bg-1200@2.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop/hero-bg-1200@2.jpg);
  }
}
@media (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero__title {
  display: inline-block;
  max-width: 696px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primery-title-color);
}
@media (max-width: 1199px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.62;
    max-width: 360px;
  }
}
@media (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.header-inner__logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--logo-color-p1);
}
@media (max-width: 1199px) {
  .header-inner__logo {
    margin-right: 88px;
    font-size: 24px;
    line-height: 1.17;
  }
}
@media (min-width: 1200px) {
  .header-inner__logo {
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.19;
  }
}
.header-inner__logo:hover .header-inner__logo--black, .header-inner__logo:focus .header-inner__logo--black {
  color: var(--hover-color);
}
.header-inner__logo--black {
  color: #000000;
}

@media (max-width: 1199px) {
  .footer {
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .footer {
    text-align: left;
  }
}
.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  font-family: "Raleway";
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--logo-color-p1);
}
@media (max-width: 1199px) {
  .footer__logo {
    font-size: 24px;
    line-height: 1.17;
  }
}
@media (min-width: 1200px) {
  .footer__logo {
    font-size: 26px;
    line-height: 1.19;
  }
}
.footer__logo:hover .footer__logo--white, .footer__logo:focus .footer__logo--white {
  color: var(--hover-color);
}
.footer__logo--white {
  color: var(--maplink-text-color);
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}

@media (max-width: 1199px) {
  .quality {
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .quality {
    padding-bottom: 0;
  }
}
.quality__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 30px;
}
@media (min-width: 768px) {
  .quality__list {
    margin-left: -15px;
    margin-right: -15px;
  }
}
@media (min-width: 768px) {
  .quality__item {
    width: calc((100% - 60px) / 2);
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media (min-width: 1200px) {
  .quality__item {
    width: calc((100% - 120px) / 4);
  }
}
.quality__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
}
.quality__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
@media (max-width: 767px) {
  .quality__title {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .quality__title {
    text-align: left;
  }
}
.quality__description {
  text-align: left;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.team {
  background-color: var(--background-team-color);
  text-align: center;
}
.team__title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
@media (max-width: 1199px) {
  .team__title {
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
  }
}
.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 30px;
}
@media (min-width: 768px) {
  .team__list {
    margin-left: -15px;
    margin-right: -15px;
  }
}
.team__item {
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
}
@media (min-width: 768px) {
  .team__item {
    width: calc((100% - 60px) / 2);
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media (min-width: 1200px) {
  .team__item {
    width: calc((100% - 120px) / 4);
  }
}
.team__wrap {
  padding: 30px 0px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__members {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.team__speciality {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.team-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.team-social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}
.team-social__icon {
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}
.team-social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: #AFB1B8;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  -webkit-transition: background-color var(--animation);
  transition: background-color var(--animation);
}
.team-social__link:hover, .team-social__link:focus {
  background-color: var(--logo-color-p1);
  fill: #FFFFFF;
}

.work__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.work__item {
  position: relative;
}
.work__subtitle {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 27px 0;
  background-color: rgba(47, 48, 58, 0.8);
  text-align: center;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
@media (max-width: 1199px) {
  .work {
    display: none;
  }
}

.example__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  gap: 8px;
  margin-bottom: 50px;
}
@media (max-width: 767px) {
  .example__list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media (min-width: 768px) {
  .example__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.example__btn.active-btn {
  background-color: var(--hover-color);
  color: var(--maplink-text-color);
}
.example__btn {
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
  border: transparent;
  min-width: 73px;
  background-color: var(--background-team-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  -webkit-transition: color var(--animation), background-color var(--animation), -webkit-box-shadow var(--animation);
  transition: color var(--animation), background-color var(--animation), -webkit-box-shadow var(--animation);
  transition: box-shadow var(--animation), color var(--animation), background-color var(--animation);
  transition: box-shadow var(--animation), color var(--animation), background-color var(--animation), -webkit-box-shadow var(--animation);
}
.example__btn:hover, .example__btn:focus {
  background-color: var(--hover-color);
  color: var(--maplink-text-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 30px;
}
@media (min-width: 320px) {
  .project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (min-width: 768px) {
  .project {
    gap: 30px;
  }
}
.project__item {
  -webkit-transition: -webkit-box-shadow var(--animation);
  transition: -webkit-box-shadow var(--animation);
  transition: box-shadow var(--animation);
  transition: box-shadow var(--animation), -webkit-box-shadow var(--animation);
}
@media (max-width: 767px) {
  .project__item {
    width: 450px;
  }
}
@media (min-width: 768px) {
  .project__item {
    width: calc((100% - 30px) / 2);
  }
}
@media (min-width: 1200px) {
  .project__item {
    width: calc((100% - 60px) / 3);
  }
}
.project__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
.project__link:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project__link:hover, .project__link:focus .project-product__box {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.project__box {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: none;
}
.project__subtitle {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.project__text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}

@media (min-width: 320px) {
  .project-product {
    width: 100%;
  }
}
.project-product__item {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.project-product__box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 1.56;
  color: #fff;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform var(--animation);
  transition: -webkit-transform var(--animation);
  transition: transform var(--animation);
  transition: transform var(--animation), -webkit-transform var(--animation);
}
@media (max-width: 479px) {
  .project-product__box {
    font-size: 14px;
    padding: 24px;
  }
}
@media (min-width: 480px) {
  .project-product__box {
    font-size: 18px;
    padding: 77px 24px;
  }
}
@media (min-width: 768px) {
  .project-product__box {
    padding: 49px 24px 77px 24px;
  }
}
@media (min-width: 1200px) {
  .project-product__box {
    padding: 63px 24px;
  }
}

/* overlay */
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition-delay: 0;
          transition-delay: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.backdrop {
  position: fixed;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: opacity 250ms, visibility 250ms;
  transition: opacity 250ms, visibility 250ms;
}

.modal {
  padding: 40px;
  -webkit-transform: translate(-50%, -50%) rotate(360deg);
          transform: translate(-50%, -50%) rotate(360deg);
  -webkit-transition: -webkit-transform var(--animation);
  transition: -webkit-transform var(--animation);
  transition: transform var(--animation);
  transition: transform var(--animation), -webkit-transform var(--animation);
  position: absolute;
  top: 50%;
  left: 50%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media (max-width: 479px) {
  .modal {
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 480px) {
  .modal {
    width: 450px;
    min-height: 609px;
  }
}
@media (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}
.modal__title {
  margin-bottom: 12px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  padding: 0;
}
@media (max-width: 1199px) {
  .modal__title {
    font-size: 20px;
    line-height: 1.5;
  }
}
@media (min-width: 1200px) {
  .modal__title {
    font-size: 20px;
    line-height: 1.15;
  }
}

.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) rotate(0deg);
          transform: translate(-50%, -50%) rotate(0deg);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.data-modal-close {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.data-modal-close__icon {
  width: 100%;
  height: 100%;
}
.data-modal-close:hover, .data-modal-close:focus {
  fill: var(--hover-color);
  -webkit-transition: var(--animation);
  transition: var(--animation);
}

.form__field {
  position: relative;
  margin-bottom: 10px;
}
.form__lable {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}
.form__input {
  width: 100%;
  height: 40px;
  padding: 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.form__input:focus, .form__input:focus + .form__icon {
  fill: var(--hover-color);
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}
.form__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
}
.form__message {
  margin-bottom: 20px;
}
.form__textarea {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea:focus {
  border: 1px solid var(--hover-color);
  outline: none;
  -webkit-transition: border var(--animation);
  transition: border var(--animation);
}
.form__button {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: var(--hover-color);
  border: 1px solid var(--hover-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}
.form__button:focus, .form__button:hover {
  background-color: #188CE8;
  border: 1px solid #188CE8;
  -webkit-transition: background-color var(--animation), border var(--animation);
  transition: background-color var(--animation), border var(--animation);
}

.placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.checkbox__input:checked + .checkbox__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.checkbox__lable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}
.checkbox__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 0;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #212121;
  background-color: #FFFFFF;
  border-radius: 2px;
}
.checkbox__text {
  letter-spacing: 0.03em;
}
@media (max-width: 1199px) {
  .checkbox__text {
    font-size: 12px;
    line-height: 1.17;
  }
}
@media (min-width: 1200px) {
  .checkbox__text {
    font-size: 14px;
    line-height: 1.71;
  }
}
.checkbox__icon {
  display: none;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  top: 0;
  left: 0;
  fill: #FFFFFF;
  background-color: var(--hover-color);
  border-radius: 2px;
  border: 1px solid var(--hover-color);
}
.checkbox__license {
  color: var(--hover-color);
}
.checkbox__license:hover, .checkbox__license:focus {
  color: #188CE8;
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}

.header-mobile__menu-btn {
  padding: 10px 0px;
  cursor: pointer;
}
@media (max-width: 767px) {
  .header-mobile__menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: none;
    background-color: #ffffff;
  }
}
@media (min-width: 768px) {
  .header-mobile__menu-btn {
    display: none;
  }
}
.header-mobile__open-icon {
  fill: #212121;
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}
@media (min-width: 768px) {
  .header-mobile__open-icon {
    display: none;
  }
}
.header-mobile__open-icon:hover, .header-mobile__open-icon:focus {
  fill: var(--hover-color);
}

.mobile-menu {
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  overflow-y: auto;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.mobile-menu__close-btn {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  width: 40px;
  height: 40px;
  background-color: #fff;
  right: 0;
  top: 0;
  margin-top: 10px;
  margin-right: 15px;
  border: none;
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
  cursor: pointer;
}
.mobile-menu__close-btn:hover, .mobile-menu__close-btn:focus {
  fill: var(--hover-color);
}
.mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.8;
  text-align: center;
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
  cursor: pointer;
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: var(--hover-color);
}
.mobile-menu__link .link:active {
  color: var(--hover-color);
}
.mobile-menu__link--active {
  color: #2196F3;
}

.mobile-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.mobile-contact__list {
  margin-bottom: 64px;
}
.mobile-contact__item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
}
.mobile-contact__phone {
  margin-bottom: 32px;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196F3;
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
  cursor: pointer;
}
.mobile-contact__phone:hover, .mobile-contact__phone:focus {
  color: var(--hover-color);
}
.mobile-contact__mail {
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
  cursor: pointer;
}
.mobile-contact__mail:hover, .mobile-contact__mail:focus {
  color: var(--hover-color);
}

.mobile-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.mobile-social__item {
  padding-right: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
  cursor: pointer;
}
.mobile-social__item:last-child {
  border-right: none;
}
.mobile-social__item:hover, .mobile-social__item:focus {
  color: var(--hover-color);
}/*# sourceMappingURL=main.css.map */