.form{
    &__field {
        position: relative;
        margin-bottom: 10px;
    }
    
    &__lable {
        display: block;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;
        margin-bottom: 4px;
    }
    
    &__input {
        width: 100%;
        height: 40px;
        padding: 12px 42px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;

        &:focus, 
        &:focus + .form__icon{
            fill: var(--hover-color);
            transition: fill var(--animation);
        }
    }
    
    &__icon {
        position: absolute;
        bottom: 11px;
        left: 12px;
    }
    &__message {
        margin-bottom: 20px;
    }
    &__textarea {
        display: block;
        width: 100%;
        height: 120px;
        padding: 12px 16px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        resize: none;   
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);

        &:focus {
            border: 1px solid var(--hover-color);
            outline: none;
            transition: border var(--animation);
        }
    }
    &__button{
        display: block;
        margin: 0 auto;
        width: 200px;
        height: 50px;
        text-align: center;
        align-items: center;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        background-color: var(--hover-color);
        border: 1px solid var(--hover-color);
        box-shadow: 0px 4px 4px 
        rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        cursor: pointer;
        outline: none;
        
        &:focus, 
        &:hover{
            background-color: #188CE8;
            border: 1px solid #188CE8;
            transition:background-color var(--animation), 
            border var(--animation);
        }
    }
}


.placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.checkbox {
    &__input {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        &:checked + .checkbox__icon {
            display: flex;
        }
    }
    
    &__lable {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
    }
    &__wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        padding: 0;
        width: 16px;
        height: 15px;
        margin-right: 7px;
        border: 2px solid #212121;
        background-color: #FFFFFF;
        border-radius: 2px;
    }
    &__text {
        letter-spacing: 0.03em; 

        @media (min-width: 320px){
            font-size: 12px;
            line-height: 1.17;
        }
        @media (min-width: 1200px){
            font-size: 14px;
            line-height: 1.71;
        }
    }
    &__icon {
        display: none;
        flex-shrink: 0;
        top: 0;
        left: 0;
        fill: #FFFFFF;
        background-color: var(--hover-color);
        border-radius: 2px;
        border: 1px solid  var(--hover-color);
    }

    &__license {
        color: var(--hover-color);

        &:hover,
        &:focus {
            color:#188CE8;
            transition: color var(--animation);
        }
    }

}

